{% extends 'base.html.twig' %}

{% block title %}Leçon: {{ lecon.title }}{% endblock %}

{% block body %}
<h1>{{ lecon.title }}</h1>

<div>
    <p>{{ lecon.content }}</p>
</div>

{% if not lecon.isRead %}
    <form action="{{ path('finish_lecon', {id: lecon.id}) }}" method="post">
        <button type="submit">Leçon finie</button>
    </form>
{% else %}
    <p>Cette leçon est terminée.</p>
{% endif %}

<a href="{{ path('mes_lecons') }}"><button class="btn btn-primary">Retour à Mes Leçons</button></a>
{% endblock %}
